body {
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.infos{
    margin: 0 auto;
    width: 400px;
    border: 2px solid yellow;

}

#button{
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: black;
    transition: color 0.3s, background-color 0.3s;
    color: white;
    padding: 10px;
    margin: 25px;
}

#button:hover{
    color: yellow;
}

p:hover{
    color: yellow;
}

h2:hover{
    color: blue;
    font-weight: bolder;
}

.loading{
    margin: 20px;
}

img:hover {
    padding:0%;
    margin: 20px;
    box-shadow: 0 0 20px 5px yellow; 
    transform: scale(1.05); 
}