#sideBar {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100%;
    width: 20%;
    position: absolute;
    float: left;
    background-color: lightgray;
    border: 5xp solid grey;
}

#button {
    height: 10%;
    width: 90%;
    background-color: lightgray;
    border-radius: 8px;
    border: 1px solid grey;
    color: grey;
    padding: 5px;
    text-align: center;
    align-content: center;
    position: absolute;
    font-size: 22px;
    margin: 9px 14px;
    cursor: pointer;
}

#button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#grid {
    display: grid;
    grid-template-columns: repeat(65, 1fr);
    grid-template-rows: repeat(65, 1fr);
    height: 70vw;
    width: 70vw;
    gap: 1px;
    margin: 0% 21%;
    border: 1px solid grey;
    background-color: lightgray;

}

.gridDiv {
    background-color: white;
    transition: background-color 0.2s;
}

.colorBox {
    border: 1px solid black;
    cursor: pointer;
}

.colorBox:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.emptyColorBox {
    border: none;
}


#selectedIcon {
    background-image: url("https://icons.veryicon.com/png/o/miscellaneous/project-management-tools/select-not-selected.png");
}